body {
  font-family: Avenir 'sans-serif'; 
  width: 100%;
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: #2C3E50;
  color: #FFFFFF;
  position: fixed;
}

.title {
  font-size: 2rem;
}

.navItem {
  font-size: 1.25rem;
  margin: 0.5rem;
}